:root {
  --bg-primary-color: #242538;
  --bg-secondary-color: #1b1c2e;
  --bg-content-color: #b6b6cc;
  --border-color: #242538;
  --font-primary-color: #f0f0f5;
  --border-radius: 10px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* original task code */

body {
  background-color: #242538;
  font-family: Helvetica;
  color: #f0f0f5;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

  border: 5px solid #242538;
  border-radius: 20px;

  overflow: hidden;
}

.main h1 {
  background-color: #1b1c2e;
  display: block;
  font-size: 2em;
  -webkit-padding-before: 0.67em;
          padding-block-start: 0.67em;
  -webkit-padding-after: 0.67em;
          padding-block-end: 0.67em;
  padding-left: 20px;
  margin: 0;
  font-weight: bold;
}

.content {
  background-color: #b6b6cc;
  width: min(90vw, 80vh);
  height: min(90vw, 80vh);
}

/* place your styles below */

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.layout > * {
  padding: 10px;
}

*[class$='splitter'] {
  display: -ms-grid;
  display: grid;
  gap: 18px;
}

.vertical-splitter {
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.horizontal-splitter {
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
}

*[class$='tile'] {
  border-radius: var(--border-radius);
  background-color: var(--bg-primary-color);
}

.text-tile {
  padding: 0 10px;
  overflow: auto;
  scrollbar-width: none; /* for Firefox */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
}

.text-tile::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.image-tile {
  position: relative;
  overflow: hidden;
}

.image-tile__image {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}

.button-tile {
  color: var(--font-primary-color);
  border: solid 2px var(--border-color);
  border-color: var(--font-primary-color) var(--border-color) var(--border-color) var(--font-primary-color);
}

.button-tile:hover {
  cursor: pointer;
  border-color: var(--border-color) var(--font-primary-color) var(--font-primary-color) var(--border-color);
}

.button-tile.button-tile--clicked {
  border-radius: var(--border-radius);
  background-color: var(--bg-primary-color);
  border-color: var(--font-primary-color) var(--border-color) var(--border-color) var(--font-primary-color);
}
